*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}


    .right-login{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .card-login{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px 20px;
        background-color: #2f2841;
        border-radius: 20px;
        box-shadow:  0px 10px 40px #00000056;
    
    }
    
    .card-login > h1{
        color: #00ff88;
        font-weight: 800;
        margin: 0;
        text-transform: uppercase;
    }
    
    .textfield{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        margin: 10px 0px;
    }
    
    .textfield > input{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: #514869;
        color: #f0ffffde;
        font-size: 12pt;
        box-shadow:  0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;   
    }
    
    .textfield > label{
        color: #f0ffffde;
        margin-bottom: 10px;
    }
    
    .textfield > input::placeholder{
        color: #f0ffff94;
    }
    
    .btn-login{
        width: 16rem;
        padding: 15px;
        margin: 15px;
        border-radius: 10px;
        outline: none;
        text-transform: uppercase;
        box-shadow: 0px 10px 40px -12px #00ff8052;
        font-weight: 8px;
        box-sizing: border-box;
    }
    